# Environment variables - IMPORTANT!
.env

# Ignore large model output directories
outputs/
cache_dir/
runs/
indictrans2-200m-en-tulu/

# Ignore the dataset itself (users should download it as per the README)
data/

# Ignore Python virtual environments and cache
simple-t5-env/
venv/
ENV/
env/
.venv
__pycache__/
*.pyc

# Ignore other common files
.DS_Store
.ipynb_checkpoints

# Model cache
transformers_cache/
.cache/

# Logs
*.log
logs/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite
*.sqlite3
